extends dashboard_charts_template

block content
  #container.col
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      navbar-brand(href='')
        img(src='/images/weeat-64.png', width='50', height='50', border='0')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/home')
              | Home
              span.sr-only (current)
          li.nav-item.active
            span.sr-only (current)
            li.nav-item
          a.nav-link(href='profile') Account settings
            li.nav-item
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Add record
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.nav-link(href='catagory') Catagory list
              a.nav-link(href='allergy') allergy list
              .dropdown-divider
              a.nav-link(href='menuForm') Add items
            li.nav-item
          a.nav-link(href='menuList') Menu list
            li.nav-item
          a.nav-link(href='offer') Custom price offer
            li.nav-item
          a.nav-link(href='dashboard') Dashboard
            li.nav-item
          a.nav-link(href='addNewUser') Add new user                     
            li.nav-item
          a.nav-link(href='reviewOverview') Reviews
        form.form-inline.my-2.my-lg-0(action='logout')
          button.btn.btn-outline-danger.my-2.my-sm-0(type='submit') Logout
    .alert.alert-info(role='alert') Welcome:  #{userDetails}
  .container-fluid.bg-3.text-center
    br
    .row
      .col-sm-2
        .alert.alert-success(role='alert') Total revenue : £#{revenu}
      .col-sm-2
        .alert.alert-info(role='alert') Orders placed since launch : #{totalCount}
      .col-sm-2
        .alert.alert-danger(role='alert') Orders to be started : #{status0}
      .col-sm-2
        .alert.alert-warning(role='alert') Orders in process : #{status1}
      .col-sm-2
        .alert.alert-primary(role='alert') Orders ready to be collected : #{status2}
      .col-sm-2
        .alert.alert-success(role='alert') Orders finished : #{status3}
    .row
      .col-sm-2
        .alert.alert-danger(role='alert') Orders yesterday : #{noOrderYesterday}
      .col-sm-2
        .alert.alert-danger(role='alert') Orders today : #{noOrderToday}
      .col-sm-2
        .alert.alert-danger(role='alert') Orders last month : #{noOrderLastMonth}
      .col-sm-2
        .alert.alert-warning(role='alert') Orders this month : #{noOrderThisMonth}
      .col-sm-2
        .alert.alert-success(role='alert') Number of product items : #{totalProdCount}
      .col-sm-2
        .alert.alert-danger(role='alert') Number of catagories : #{totalCatCount}

    br
    br
    script(type='text/javascript').
      google.charts.load('current', {packages: ['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      //example chart from https://developers.google.com/chart/interactive/docs/basic_load_libs
      function drawChart() {
      // Define the chart to be drawn.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Element');
      data.addColumn('number', 'Percentage');
      data.addRows([
      ['orders to start processing',#{status0}],
      ['Orders in process', #{status1}],
      ['Order ready for collection',#{status2}],
      ['Orders completed', #{status3}]
      ]);
      
      var options ={
        title: 'Orders'
      };
      // Instantiate and draw the chart.
      var chart = new google.visualization.PieChart(document.getElementById('myPieChart'));
      chart.draw(data, options);
      }
    #chart_wrap
      #myPieChart


  
      script(type='text/javascript').
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ["Month", "Number of orders ", { role: "style" } ],
        ["Jan", #{orderJanuary}, "color: #e5e4e2"],
        ["January",#{orderJanuary},"green"],
        ["Feburary",#{orderFeburary},"blue"],
        ["March",#{orderMarch},"red"],
        ["April",#{orderApril},"yellow"],
        ["May",#{orderMay},"green"],
        ["June",#{orderJune},"blue"],
        ["July",#{orderJuly},"red"],
        ["August",#{orderAugust},"yellow"],
        ["September",#{orderSeptember},"green"],
        ["October",#{orderOctober},"blue"],
        ["November",#{orderNovember},"red"],
        ["December",#{orderDecember},"yellow"]

        ]);

  
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
        { calc: "stringify",
        sourceColumn: 1,
        type: "string",
        role: "annotation" },
        2]);
        var options = {
        title: "Orders per month",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        chart.draw(view, options);
        }
    br
    br
    #chart_wrap2
      //#columnchart_values(style='width: 1000px; height: 300px;')
      #columnchart_values
    